#home{

    background: rgb(0,101,216);

    background: linear-gradient(90deg,rgb(132, 166, 205)10%,rgb(11, 25, 28)100%);
    min-height: 490px;
}

@keyframes slideInFromLeft {
 from {
   transform: translateX(-100%);
   opacity: 0;
 }
 to {
   transform: translateX(0);
   opacity: 1;
 }
}

@keyframes slideInFromBelow {
 from {
   transform: translateY(100%);
   opacity: 0;
 }
 to {
   transform: translateY(0);
   opacity: 1;
 }
}

.slide-in-left {
 animation: slideInFromLeft 1.5s ease-out;
}

.slide-in-below {
 animation: slideInFromBelow 1.5s ease-out;
 opacity: 1;
}

/* Add initial state for animations for the homepage */
.hidden {
 opacity: 0;
 transform: translateX(-100%);
 transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.hidden.show {
 opacity: 1;
 transform: translateX(0);
}

.hidden-desc {
 opacity: 0;
 transform: translateY(100%);
 transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.hidden-desc.show {
 opacity: 1;
 transform: translateY(0);
}

.control{

 width: 20%;
 background: #b5bccc;
 color: #fff;
}

.container{
 display: flex;
 height: 88vh;
}