html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}


#home{

    min-height: 490px;
}



@keyframes slideInFromLeft {
 from {
   transform: translateX(-100%);
   opacity: 0;
 }
 to {
   transform: translateX(0);
   opacity: 1;
 }
}

@keyframes slideInFromBelow {
 from {
   transform: translateY(100%);
   opacity: 0;
 }
 to {
   transform: translateY(0);
   opacity: 1;
 }
}

.slide-in-left {
 animation: slideInFromLeft 1.5s ease-out;
}

.slide-in-below {
 animation: slideInFromBelow 1.5s ease-out;
 opacity: 1;
}

/* Add initial state for animations for the homepage */
.hidden {
 opacity: 0;
 transform: translateX(-100%);
 transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.hidden.show {
 opacity: 1;
 transform: translateX(0);
}

.hidden-desc {
 opacity: 0;
 transform: translateY(100%);
 transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.hidden-desc.show {
 opacity: 1;
 transform: translateY(0);
}

.control{

 width: 20%;
 background: #b5bccc;
 color: #fff;
}

.container{
 display: flex; 

}

.container1{
  height: 88vh;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.card{

  transition: all 0.1s ease-in;

}

.card:hover{

  cursor: pointer;
  box-shadow: 0.5rem 1rem rgba(0,0,0,0.15);
}

.contactimage{
  height: 60%;
}

.support-border{

    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;         
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    


}

.footer{

  background-color: blue;


}

@keyframes appear{
  from{
      opacity: 0;
      scale: 0.4;
  }
  
  to{
      opacity: 1;
      scale: 1;
  }
}

.blockservice{
  animation: appear 10s linear;
  animation-timeline: view();
  animation-range: entry 0%;
}
