.g-3 {
    max-width: 1000px;
    margin: 5px auto;
    padding: 2px 10px 23px 100px;
    background-color: #e2e0e0;
    border: 1px solid #e0e0e0; /* Light gray border for subtle delineation */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}

.g-3:hover {
    transform: scale(1.02);
    box-shadow: 0 0 100px 40px rgba(127, 104, 104, 0.15);
}

.form-title {
    text-align: center;
    margin-bottom: 10px;
    color: #0d6efd;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

.form-title:hover {
    color: #0056b3;
}

.c-form-input {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.c-form-input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.25);
}

.c-button-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.c-button-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .c-col-md-6, .c-col-md-4, .c-col-md-2 {
        padding: 0 15px;
    }
}

.submitbtn {
    justify-content: center;
    align-items: center;
    background-color: #d7d9dc;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitbtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.g-3 {
    animation: fadeIn 1s ease-in;
}